body{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.title{
  		font-family: 'Georgia', Times, Times New Roman, serif;
}
#main{
  background-image: url(../images/regal.png);
}
#my-face{
	height: 150px;
	width: 150px;
	float: left;
	margin-right: 20px;
}
#about{
	margin-top: 25px;
}
#the-middle{
  padding: 30px;
  width: 960px;
  display: flex;
  direction: column;
}
.center{
	text-align: center;
}
#content{
  padding: 30px;
	width: 650px;
	border: 1px solid #dddddd;
	background-color: #ffffff;

}
#quote{
	margin-bottom: 20px;
}
.icon{
	width: 65px;
	height: 65px;
	margin-top: 10px;
}
#sidebar{
    margin-left: 20px;
    padding: 20px;
	width: 270px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
 	height: 180px;
}
.bar{
	min-height: 10px;
}
.bottom{
  	max-width: 400px;
  	margin-top: 35px;
}
#header{
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.gray-line{
  	padding-bottom: 20px;
  	border-bottom: 2px solid #cccccc;
}
#footer{
	text-align: center;
	padding: 40px;
	background-color: #666666;
	color: white !important;
}
#my-name{
    width: 300px;
    padding: 20px;
}
.from-top{
	margin-top: 10px;
}
.teal{
	background-color: #4aaaa5;
	color: white !important ;
}
.regular{
  	color: #777777;
}
.teal-text{
  	font-weight: bold;
	color: #4aaaa5;
}
input{
  	width: 100%;
}
textarea{
  	width: 100%;
  	height: 250px;
}
h5{
  	padding: 5px;
  	padding-top: 15px;
  	padding-left: 0px;
  	padding-bottom: 0px;
}
button{
  	border-radius: 0;
 	padding: 10px;
	padding-left: 35px;
  	padding-right: 35px;
}
.spacer{
  margin-top: 40px;
  margin-bottom: 40px;
}
.black-back{
  background-color: black;
  height: 200px;
  width: 265px;
}
.padder{
	min-height: 20px;
}
.obi{
  position: absolute;
  width: 265px;
  padding: 16px;
  z-index: 1;
  margin-top: -75px;
}