body{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.title{
  		font-family: 'Georgia', Times, Times New Roman, serif;
}
#main{
  background-color: black;
}
#my-face{
	height: 150px;
	width: 150px;
	float: left;
	margin-right: 20px;
}
#the-middle{
  padding: 30px;
  width: 960px;
  display: flex;
  direction: column;
}
.center{
	text-align: center;
}
#content{
  padding: 20px;
	width: 650px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	height: 400px;
}
#sidebar{
  margin-left: 20px;
  padding: 20px;
	width: 270px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
  height: 150px;
}
.bar{
	min-height: 10px;
}
.bottom{
  max-width: 400px;
  margin-top: 35px;
}
#header{
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.gray-line{
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}
#footer{
	text-align: center;
	padding: 40px;
	background-color: #666666;
	color: white !important;
}
#my-name{
  width: 300px;
  padding: 20px;
}
.teal{
	background-color: #4aaaa5;
	color: white !important ;
}
.regular{
  color: #777777;
}
.teal-text{
  font-weight: bold;
	color: #4aaaa5;
}
